#!/bin/bash -x

if [[ $(whoami) == root ]]; then
	echo "Respawning myself as non root"
	chmod 777 $0 # yay
	exec sudo -H -u ubuntu bash $0
fi

echo "Making docker socket less secure"
sudo chmod 777 /var/run/docker.sock

if [[ ! -z "${DOCKER_USER}" && ! -z "${DOCKER_PASS}" ]]; then
	echo "Login docker"
	echo "${DOCKER_PASS}" | docker login --username ${DOCKER_USER} --password-stdin
fi

echo "Start installing actions runner ${RUNNER_VER}"

echo "User $USER, UID: $(id)"

cd # goto my home

mkdir actions-runner && cd actions-runner

curl -o actions-runner-linux-x64-${RUNNER_VER}.tar.gz -L https://github.com/actions/runner/releases/download/v${RUNNER_VER}/actions-runner-linux-x64-${RUNNER_VER}.tar.gz

tar xzf ./actions-runner-linux-x64-${RUNNER_VER}.tar.gz

sudo mkdir /work
sudo chown $USER /work

./config.sh \
	--unattended \
	--replace \
	--ephemeral \
	--name "${NAME}" \
	--work /work \
	--labels "${LABELS}" \
	--url "${REPO}" \
	--token "${TOKEN}"

./run.sh

./config.sh remove --token "${TOKEN}" || true

sudo poweroff

