[Unit]
Description=Self hosted github actions runner in KVM
After=network.target

[Service]
Type=simple
User=root
Restart=always
# Restart in 5, 16, 27, 38, 49, 60, 60... seconds
RestartSec=30s
# RestartSteps=5
# RestartMaxDelaySec=60s
ExecStart=/root/self-hosted-kvm/loop.sh
ExecStop=/root/self-hosted-kvm/loop.sh stop
ExecReload=/root/self-hosted-kvm/loop.sh reload
Environment=NAME=%i
EnvironmentFile=/root/self-hosted-kvm.env
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
